.contbest {
    width: 85%;
    margin: 0 auto;
}

.best-prod {
    margin-top: 40px;
}

.present {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.present h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}

.present p {
    font-size: 14px;
}

.itemBproduct {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
}

.itemBproduct .itemContainer {
    margin: 10px 20px;
    flex: 1 220px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .itemBproduct .itemContainer {
        margin: 10px 20px;
    }
}

@media screen and (max-width: 767px) {
    .present {
        width: 100%;
    }
    .present h1 {
        padding-bottom: 20px;
        font-size: 22px;
        padding-top: 20px;
    }
    .itemBproduct {
        justify-content: center;
    }
}