.contbest {
    width: 85%;
    margin: 0 auto;
}

.best-prod {
    margin-top: 40px;
}

.present {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.present h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}

.present p {
    font-size: 14px;
}

.itemBproduct {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.itemBproduct .itemContainer {
    margin: 10px 50px;
    flex: 1 220px;
}