.prod-section {
    width: 100%;
    background: #1f2427;
    margin-top: 100px;
}

.prod {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.itemspecifi {
    display: flex;
    justify-content: center;
}

.item img {
    width: 100%;
    height: auto;
}

.itemspecifi h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-left: 12px;
    margin-right: 12px;
    text-transform: capitalize;
    line-height: 45px;
}

.itemspecifi p {
    font-size: 14px;
    color: #fff;
    margin: 12px;
}

.itemspecifi button {
    outline: none;
    border: 1px solid #e3801b;
    color: #e3801b;
    background-color: transparent;
    margin: 12px;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 3px;
    transition: .3s;
}

.exp1 {
    width: 150px;
}

.exp2 {
    width: 200px;
}

.exp3 {
    width: 150px;
}

.itemspecifi button:hover {
    background-color: #e3801b;
    color: #fff;
    transition: ease-in .2ms;
}

@media screen and (max-width: 767px) {
    .prod-section {
        margin-top: 20px;
    }
    .itemspecifi h1 {
        font-size: 22px;
        padding-top: 20px;
        line-height: 30px;
    }
    .itemspecifi button {
        padding: 5px;
    }
    .exp1 {
        width: 110px;
    }
    .exp2 {
        width: 150px;
    }
    .exp3 {
        width: 125px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .prod {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1024px) {
    .prod {
        flex-wrap: nowrap;
    }
}